[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"
pandas = "*"

[dev-packages]
v = {version = "*", editable = true}
pytest = "*"

[requires]
python_version = "3.7"
